@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "charter";
    src: url("fonts/charter/Charter/charter_regular.woff2");
}
@layer base {
    html {
        font-family: "charter", serif;

    }
}

body {
    font-family: "charter", serif;
}

.wp-block-group-is-layout-flex {

    @apply justify-around my-5;
}


.site-branding {
    @apply mx-auto mb-5;

}

.site-title {
    @apply w-full text-5xl mx-auto text-center;
}

.entry-title {

    @apply text-6xl mt-20 mx-auto text-center;
}

.center-point {

    @apply snap-center;
}


.menu-toggle {
    @apply sm:hidden;

}

.saying {
    @apply bg-violet-900 text-violet-100 text-center leading-normal py-5;
}



.cinematic {

    @apply w-full;
}

.cinematic video {

    @apply w-full;
}

/*.page .entry-title {

}*/


/* Accessibility */

.screen-reader-text {
    display: none;
}


@media speech {
    .screen-reader-text {
	display: block;

    }

}
